@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
/* font-family: 'Macondo', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */






.bodyPrincipal {
    background-image: url(../img/fondo-principal-grande.jpg);
    background-repeat: no-repeat;

    transition: all 250ms;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-name: zoom;

    overflow: hidden;


}

.imagenDeFondo1 {
    width: 100%;
    height: 100%;
    z-index: -1;
}


.imagenbuho1 {
    width: 80%;

}

.tituloPrincipal {
    color: white;
    font-family: 'Macondo', cursive;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.parrafoBienvenida {
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.tamañoPrincipal {
    width: 35%;
    margin-right: 10%;
    text-align: -webkit-center;

}

.divPrincipal {
    margin: 12%;
    margin-top: 17%;
}

.imagenLogo2 {
    width: 17%;
}

.bloque {
    display: block;
    width: fit-content;
}

.botonPrincipal {
    background-color: rgba(220, 107, 243, 0.5);
    border-color: rgba(137, 43, 226, 0);
    font-family: 'Macondo', cursive;
    font-size: 20px;
    font-weight: bold;

}

@keyframes zoom {
    0% {
        transform: scale(0.6)
    }

    100% {
        transform: scale(1.2);
    }

}

@keyframes rotate {
    0% {
        transform: rotate(350deg);
    }

    50% {
        transform: rotate(365deg);
    }

    100% {
        transform: rotate(350deg);
    }
}

.animacionBuho {
    transition: all 250ms;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-name: rotate;

}


/* full responsive  */

@media screen and (max-width:992px) {
    .imagenbuho1 {
        width: 50%;
        margin-top: 10%;
    }

    .tamañoPrincipal {
        width: 70%;
        margin-left: 15%;
    }

    .parrafoBienvenida {
        font-size: 16px;
    }

    .tituloPrincipal {
        font-size: 23px;
    }

    .divBotonPrincipal {
        font-size: 20px;
    }
}


@media screen and (max-width:590px) {
    .imagenbuho1 {
        width: 85%;
    }

    .tamañoPrincipal {
        width: 95%;
        margin-left: 0;
        margin-top: 25px;
    }

    .tituloPrincipal {
        font-size: 21px;
    }

    .botonPrincipal {
        font-size: 16px;
    }
}